.full-height{height: 100%;}
.side {width:200px; background: #000; color:#fff; box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    ul{
        li {height: 30px; line-height: 30px; border-bottom: 1px solid #fff; cursor: pointer; transition: 0.3s all;
            &.router-link-active,&:hover {color: #0f0;border-bottom: 1px solid #0f0;}
        }
    }
}
.tit1 {font-size: 24px; border-bottom:1px solid #eee;padding-bottom: 10px; }